<mat-form-field>
      <mat-select placeholder="select network adapter" [(ngModel)]="selectedCard">
            <mat-option *ngFor="let card of networkAdapters" [value]="card">
                  {{card.logicalname +' , '+card.ip}}
            </mat-option>
      </mat-select>
</mat-form-field>

<button (click)="Search()" [disabled]="!selectedCard || selectedCard.ip == 'disconnected'">search</button>
<div>active tasks is : {{ this.pool.ActiveTasks.length}}</div>
<div *ngFor="let task of this.pool.ActiveTasks">
      <div>task name : {{task.Name}} </div>
      <button (click)="task.Stop()">stop</button>
</div>
<div *ngFor="let h of data">
      <app-host-row [host]="h"></app-host-row>
</div>