<div>
  <h3>json view</h3>
  <!-- <p>{{host | json}}</p> -->
  <h4>host deteils</h4>
  <p *ngIf="host.hostname">{{host.hostname.name }}</p>
  <p *ngIf="host.hostname">{{host.hostname.type }}</p>
  <h4>host address</h4>
  <p *ngIf="host.address">{{host.address.addr }}</p>
  <p *ngIf="host.address">{{host.address.addrtype }}</p>
  <h4>host open ports</h4>
  <!-- <p>{{host.ports | json}}</p> -->
  <b *ngFor="let port of host.ports ;let i = index">
   <div>
     <h2>{{'port : '+(i+1)}}</h2>
       <div>{{'protocol : '+port.protocol}}</div>
    <div>{{'portid : ' +port.portid}}</div>
    <div>{{'state : '+ port.state }}</div>
    <div>{{'conf : '+ port.service_conf}}</div>
   </div>
  
  </b>
</div>

